@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  @extend %hover-transitions;

  &:not(.noHover):hover {
    // color: #ffffff !important;
    // background-color: $primary;

    @extend %hover-effects;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;
  @extend %hover-transitions;

  &:not(.noHover):hover {
    // background-color: #2a2a2a;
    // @extend %hover-transitions;
    @extend %hover-effects;
    // color: #ffffff;
  }
}
