@import "../../../styles/settings.scss";

.stars {
  a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    @extend %hover-transitions;

    &:hover {
      color: $primary;
    }
  }
}
.clicked {
  color: $primary;
}
