@import "../../../styles/settings.scss";

.root {
  position: relative;
  height: 100%;

  .promotedProductContainer {
    position: relative;
    height: 100%;
  }

  .photo {
    height: 100%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .textBar {
    position: absolute;
    top: 49%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 60px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: 200;
    font-size: 18px;

    .title {
      font-weight: 300;
      font-size: 36px;
      margin-bottom: -10px;

      strong {
        font-weight: 600;
      }
    }
  }
  .shopNowButton {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    color: $darkGrey;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      border: none;
      cursor: pointer;
      box-shadow: 0px 0px 12px $charcoalGrey;
      background-color: $primary;
    }
  }

  .arrowButtonsWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }
  .arrowButton {
    width: 50%;
    text-align: center;
  }
}
