$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

/* Add hover effects to buttons and any hover eements */

/*Define styles for hover effects*/
%hover-effects {
  background-color: green;
  color: rgb(236, 32, 13);
  border-bottom-color: green;
  transform: translate(0, -5px);
}

/*Define transitions for hover effects*/
// %hover-transitions {
//   transition: background-color 3000ms ease-in-out, color 2000ms ease-in-out,
//     transform 1000ms ease-in-out, border-bottom-color 2250ms ease-in-out;
// }
%hover-transitions {
  transition-property: background-color, color, transform, border-bottom-color;
  transition-duration: 3s, 2s, 1s, 2.25s;
  transition-timing-function: ease-in-out;
}
// %hover-transitions {
//   transition: background-color 2000ms ease-in-out;
//   transition: color 2050ms ease-in-out;
//   transition: transform 1150ms ease-in-out;
//   transition: border-bottom-color 2250ms ease-in-out;
// }
// %hover-bg-transition {
//   transition: background-color 2000ms ease-in-out;
// }
// %hover-color-transition {
//   transition: color 2050ms ease-in-out;
// }
// %hover-transform-transition {
//   transition: transform 1150ms ease-in-out;
// }
// %hover-border-bottom-color-transition {
//   transition: border-bottom-color 1150ms ease-in-out;
// }
