@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    height: 260px;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttonsContainer {
      transform: translateY(-100%);
    }

    .buttons {
      visibility: hidden;
      display: flex;
      justify-content: space-between;
      margin: 0 10px;
    }
  }
  &:hover {
    .buttons {
      visibility: visible;
    }
    .btnprice {
      background-color: $primary;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
        @extend %hover-transitions;

        &:hover {
          // @extend %hover-effects;
          color: $primary;
        }
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-inline: 1px;
    }
    a.isCompare {
      background-color: #d58e32;
      border-color: #d58e32;
      color: white;
    }
    a.isFavorite {
      background-color: $isFavorite;
      border-color: $isFavorite;
      color: #ffffff;
    }
  }

  .btnoldprice {
    background-color: #fff;
    color: gray;
    text-decoration: line-through;
    text-decoration-color: #000;
    text-decoration-thickness: 2px;
  }

  .price {
    display: flex;
  }
}
