@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
@media all and (max-width: 768px){
  .root {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 241px;
    .category {
      border-bottom: 1px solid $form-border-color;
      display: flex;
      position: relative;
      justify-content: flex-start;
      width: 240px;
    }

    .searchField {
      display: flex;
      position: relative;
      justify-content: flex-start;
      width: 240px;
    }
  }
}
