.root {
  background-color: #ffffff;
  margin-bottom: 2rem;

  .brandsSectionRow {
    padding: 0 15px;
  }

  .sectionElementsWrapper {
    display: flex;
    border: 1px solid #e1e1e1;
    padding: 15px 0;
  }

  .buttonWrapper {
    padding: 0;
    height: 55px;
  }
  .arrowButton {
    height: 50px;
  }

  .brandsWrapper {
    display: flex;


  }

  .brandImage {

    img{
      width: 100%;
    }
  }


}
