@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  margin-top: 4rem;

  .photo {
    position: relative;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    height: 260px;

    .image {
      // position: relative;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .btnAddToChart {
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: 21%;
  }
  &:hover {
    .btnAddToChart {
      visibility: visible;
    }
  }
}
